@keyframes animateScorePopup {
    0% { transform: translateY(0px); opacity: 1;}
    100% {transform: translateY(-15px); opacity: 0px;}
}

@keyframes guiButtonPopup {
    0% { transform: translateX(100px);}
    100% { transform: translateX(0px);}
}

@keyframes shopGuiOpen {
    0% { transform: translateY(calc(100vh + 90px));}
    100% { transform: translateY(0px);}
}

@keyframes settingsGuiOpen {
    0% { transform: translateX(-700px); }
    100% { transform: translateX(0px); }
}

@keyframes shrinkAndDissapear {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}

@keyframes pulse {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0.6; transform: scale(1.05); }
}

@keyframes moveUpAndDown {
    0% { transform: translateY(0px); background-color: hsl(98, 100%, 59%); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0px);}
}

.dark-mode {
    background-color: rgb(32, 32, 32) !important;
    color: white !important;
}

.dark-mode .item-description span {
    color: aqua;
}

.hide {
    display: none !important;
}

.item-bought-animation {
    animation: moveUpAndDown 0.5s cubic-bezier(.08,1.12,.23,.97);
}

.score-popup {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;

    font-size: larger;

    animation: animateScorePopup 1s forwards ease-in-out;

    position: absolute;
}
